.faquestions {
    padding: 80px 10vw 160px;
    background: var(--sBackground);
    filter: blur(15px);
    opacity: 0;
    transform: translateY(100px);
    transition: 0.6s;
}
.faquestions.slide-up {
    filter: blur(0);
    opacity: 1;
    transform: translateY(0);
  }

.faquestions .faq-headline, .faquestions h2, .faquestions .fa-para {
    width: 50%;
}

.faquestions .faq-headline {
    font-family: "Fenix", serif;
    font-weight: 600;
    font-size: 13.5px;
    letter-spacing: 4px;
    color: var(--accent);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
}

.faquestions h2 {
    font-family: "Fenix", serif;
    font-size: 32px;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
    color: black;
    margin: 5px 0 7px;
}

.faquestions .fa-para {
    font-family: "Josefin Sans", serif;
    font-weight: 400;
    font-size: 21.5px;
    color: black;
}

.faquestions .faquestions-wrap {
    margin-top: 30px;
    width:  min(950px, 100%);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.faquestions-wrap .item-wrap {
    background: var(--sButton);
    border-radius: 12px 12px 0 0;
}

.item-wrap .question {
    padding: 10px 20px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 12px 12px 0 0;
}

.question p {
    font-family: "Josefin Sans", serif;
    font-weight: 400;
    font-size: 20px;
    color: var(--sBackground-shade);
}

.item-wrap .answer {
    background: var(--sBackground-shade);
    transition: 0.3s;
}

.answer p {
    display: none;
    padding: 12px 20px 20px;
    font-family: "Josefin Sans", serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 20px;
    color: var(--background);
    transition: 0.3s;
}

p.view {
    display: block;
}

@media (max-width: 1150px) {
    .faquestions {
        padding: 65px 10vw 130px;
    }
    
    .faquestions .faq-headline, .faquestions h2, .faquestions .fa-para {
        width: 80%;
        margin: auto;
        text-align: center;
    }
    
    .faquestions .faq-headline {
        font-size: 11.5px;
    }
    
    .faquestions h2 {
        font-size: 30px;
        margin: 5px auto 5px;
    }
    
    .faquestions .fa-para {
        font-size: 20px;
    }
    
    .faquestions .faquestions-wrap {
        margin-top: 30px;
        gap: 15px;
    }
    
    .faquestions-wrap .item-wrap {
        border-radius: 10px 10px 0 0;
    }
    
    .item-wrap .question {
        padding: 7px 15px;
        gap: 40px;
        border-radius: 10px 10px 0 0;
    }
    
    .question p {
        font-size: 18.5px;
    }
    
    .answer p {
        padding: 11px 18px 18px;
        font-size: 17.5px;
        line-height: 20px;
    }
}

@media (max-width: 685px) {
    .faquestions {
        padding: 55px 7vw 110px;
    }
    
    .faquestions .faq-headline, .faquestions h2, .faquestions .fa-para {
        width: 100%;
    }
    
    .faquestions .faq-headline {
        font-size: 10.5px;
        letter-spacing: 3px;
    }
    
    .faquestions h2 {
        font-size: 26.5px;
    }
    
    .item-wrap .question {
        padding: 10px 15px;
        gap: 30px;
    }
    
    .answer p {
        font-size: 18px;
    }
}