.about-comp {
    padding: 80px 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--sButton-alt);
}

.about-comp .about-comp-imgs {
    position: relative;
    width: 45%;
    filter: blur(15px);
    opacity: 0;
    transform: translateY(100px);
    transition: 0.6s;
}
.about-comp .about-comp-imgs.slide-up {
    filter: blur(0);
    opacity: 1;
    transform: translateY(0);
  }

.about-comp-imgs .a-height {
    visibility: hidden;
    width: 100%;
}

.about-comp-imgs .a-img-1 {
    position: absolute;
    width: 83%;
    left: 0;
    transform: translateY(50%);
    bottom: 50%;
    border-radius: 15px;
    border: 4px solid rgb(222, 222, 222);
}

.about-comp-imgs .a-img-2 {
    width: 50%;
    position: absolute;
    right: 0;
    top: 6vw;
    border-radius: 15px;
    border: 4px solid rgb(222, 222, 222);
    transform: rotateZ(10deg);
}

.about-comp .about-comp-text {
    width: 48%;
    filter: blur(15px);
    opacity: 1;
    transform: translateY(100px);
    transition: 0.6s;
}
.about-comp .about-comp-text.slide-up {
    filter: blur(0);
    opacity: 1;
    transform: translateY(0);
  }

.about-comp-text .a-headline {
    font-family: "Fenix", serif;
    font-weight: 600;
    font-size: 13.5px;
    letter-spacing: 4px;
    color: var(--accent);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
}

.about-comp-text h2 {
    font-family: "Fenix", serif;
    font-size: 32px;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
    color: var(--sBackground);
    margin: 5px 0 18px;
}

.about-comp-text p {
    font-family: "Josefin Sans", serif;
    font-weight: 400;
    font-size: 21.5px;
    color: rgb(182, 182, 182);
}

.about-comp-text .about-bullet {
    margin: 20px 0 55px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
}

.about-bullet .item {
    display: flex;
    gap: 5px;
    align-items: center;
}

.item .a-check {
    width: 7px;
    height: 7px;
    padding: 3px;
    border-radius: 50%;
    border: 2px solid green;
    color: greenyellow;
}

.item span {
    font-family: "Josefin Sans", serif;
    font-size: 21.5px;
    font-weight: 500;
    color: rgb(182, 182, 182);
}

.about-comp-text a {
    padding: 10px 25px;
    border-radius: 15px;
    box-shadow: 3px 3px 7px rgba(2, 0, 0, 0.3);
    font-family: "Outfit", serif;
    font-weight: 600;
    font-size: 20.5px;
    letter-spacing: 0.5px;
    background: var(--sBackground);
    color: black;
    transition: 0.5s;
}

.about-comp-text a:hover {
    background: white;
    color: var(--sButton-alt);
}

@media(max-width: 1150px) {
    .about-comp {
        padding: 65px 10vw;
        flex-direction: column-reverse;
        gap: 75px;
        text-align: center;
    }
    
    .about-comp .about-comp-imgs {
        width: 70%;
    }
    
    .about-comp-imgs .a-height {
        width: 80%;
    }
    
    .about-comp-imgs .a-img-1 {
        width: 80%;
        transform: translateX(50%);
        right: 50%;
        left: auto;
        bottom: 0;
    }
    
    .about-comp-imgs .a-img-2 {
        width: 42%;
    }
    
    .about-comp .about-comp-text {
        width: 100%;
    }
    
    .about-comp-text .a-headline {
        font-size: 11.5px;
        width: 80%;
        margin: auto;
    }
    
    .about-comp-text h2 {
        font-size: 30px;
        margin: 6px auto 15px;
        width: 80%;
    }
    
    .about-comp-text p {
        font-size: 20px;
    }
    
    .about-comp-text .about-bullet {
        width: fit-content;
        margin: 16px auto 45px;
        row-gap: 5px;
        column-gap: 20px;
    }
    
    .item .a-check {
        border: 1.9px solid greenyellow;
        color: greenyellow;
    }
    
    .item span {
        font-size: 20px;
    }
    
    .about-comp-text a {
        padding: 7px 20px;
        border-radius: 10px;
        font-size: 18.5px;
    }
}

@media(max-width: 685px) {
    .about-comp {
        padding: 55px 7vw;
        gap: 60px;
    }
    
    .about-comp .about-comp-imgs {
        width: 100%;
    }

    .about-comp-imgs .a-img-1, .about-comp-imgs .a-img-2 {
        border: 3px solid rgb(222, 222, 222);
    }

    .about-comp-imgs .a-height {
        width: 90%;
    }
    
    .about-comp-imgs .a-img-1 {
        width: 90%;
    }
    
    .about-comp-imgs .a-img-2 {
        top: 10vw;
        width: 47%;
    }
    
    .about-comp-text .a-headline {
        width: 100%;
        font-size: 10.5px;
        letter-spacing: 3px;
    }
    
    .about-comp-text h2 {
        width: 100%;
        font-size: 26.5px;
        margin: 5px 0 13px;
    }
    
    .about-comp-text .about-bullet {
        margin: 6px auto 41px;
        row-gap: 5px;
        column-gap: 10px;
    }

    .about-bullet .item {
        flex-direction: column;
        gap: 0px;
    }
    
    .item span {
        font-size: 19.5px;
    }
}